@import "tailwindcss";


@layer base {
  :root {
    --text-body: #171717;
    --bg-dark: #080c14;
    --bg-card: #111726;
    --accent-blue: #3b82f6;
    --accent-purple: #8b5cf6;
    --font-primary: var(--font-inter);
  }
}

@theme {
  --color-text-body: var(--text-body);
  --color-bg-dark: var(--bg-dark);
  --color-bg-card: var(--bg-card);
  --color-accent-blue: var(--accent-blue);
  --color-accent-purple: var(--accent-purple);
}



html[lang="fa"]{
    --font-primary: var(--font-estedad);
}

body{
    font-family: var(--font-primary);
}